# Ignorar node_modules globales y otras carpetas de proyectos hermanos
node_modules/
**/node_modules/

# Ignorar proyectos hermanos enteros desde la raíz de Git para que EAS no los suba
api-libreria/
web-libreria/

# Ignorar archivos locales temporales y builds de Expo
.expo/
dist/
web-build/

# Carpetas nativas
android/
ios/

# Git e IDEs
.git/
.vscode/
.idea/
.DS_Store

# Logs
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# Archivos Sensibles e Identidades
.env*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem
