
#condfiguracion de SQL Server
DB_HOST=
DB_USER=
DB_PASSWORD=    
DB_NAME=
DB_PORT=

#Configuracon del servidor
SERVIDOR_HOST=
BASE_URL=

DB_HOST_AZURE=
DB_USER_AZURE=
DB_PASSWORD_AZURE=    
DB_NAME_AZURE=

AZURE_STORAGE_CONNECTION_STRING=
AZURE_STORAGE_CONTAINER=
AZURE_STORAGE_PRODUCTOS=


rubros=